<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单录制记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>token：</label>
                                <input type="text" name="token"  th:value="${token}"/>
                            </li>
                           
                            <li>
                                <label>产品代码：</label>
                                <input type="text" name="productCode" th:value="${productCode}"/>
                            </li>
                             <li>
                                <label>节点：</label>
                                <select name="nodeCode" th:with="type=${@dict.getType('eye_node_config')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            
                            
                            <li class="select-button">
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

         
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:orderpage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:orderpage:remove')}]];
        var nodeCodeDatas = [[${@dict.getType('eye_node_config')}]];
        var operTypeDatas = [[${@dict.getType('oper_type')}]];
        var prefix = ctx + "eye/orderpage";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单录制记录",
                columns: [ 
                {
                    field: 'orderId',
                    title: '订单号'
                },

                {
                	 field: 'nodeCode',
                     title: '节点',
                     formatter: function(value, row, index) {
                        return $.table.selectDictLabel(nodeCodeDatas, value);
                     }
                },

                {
                    field: 'productCode',
                    title: '录制开始/结束时间',
                    formatter: function(value, row, index) {
                        return row.beginTime+"</br>"+ (row.endTime==null?'- -': row.endTime)
                     }
                },
                {
                    field: 'recordTime',
                    title: '录制时长',
                    formatter: function(value, row, index) {
                        return row.recordTime+"秒"; 
                     }
                },
                {
                    field: 'operType',
                    title: '操作类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(operTypeDatas, value);
                    }
                },
                {
                    field: 'fileSize',
                    title: '文件大小',
                    formatter: function(value, row, index) {
                        return row.fileSize+"kb"; 
                     }
                },
                {
                    field: 'clientIp',
                    title: '地址',
                    formatter: function(value, row, index) {
                        return row.clientCityName+"</br>"+row.clientIp 
                     }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs" target="_blank"  href="'+ctx+'eye/recordPlay/toPlayPage?token='+row.token+'&type=orderPage&playId='+row.id+'" ><i class="fa fa-play"></i>回放</a> ');
                        return actions.join('');
                    }
                }
                ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>