<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.webeye.project.eye.checklog.mapper.EyeCheckLogMapper">
    
    <resultMap type="EyeCheckLog" id="EyeCheckLogResult">
        <result property="id"    column="id"    />
        <result property="eyeOrderId"    column="eye_order_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="checkStatus"    column="check_status"    />
        <result property="checkMessage"    column="check_message"    />
        <result property="checkTime"    column="check_time"    />
        <result property="status"    column="status"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="sysCode"    column="sys_code"    />
    </resultMap>

    <sql id="selectEyeCheckLogVo">
        select id, eye_order_id, order_id, policy_no, check_status, check_message, check_time, status, create_user, create_time, update_user, update_time,sys_code from eye_check_log
    </sql>

    <select id="selectEyeCheckLogList" parameterType="EyeCheckLog" resultMap="EyeCheckLogResult">
        <include refid="selectEyeCheckLogVo"/>
        <where>  
            <if test="eyeOrderId != null "> and eye_order_id = #{eyeOrderId}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="checkStatus != null  and checkStatus != ''"> and check_status = #{checkStatus}</if>
            <if test="checkMessage != null  and checkMessage != ''"> and check_message = #{checkMessage}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="sysCode != null  and sysCode != ''"> and sys_code = #{sysCode}</if>
            <if test="params.beginCheckTime != null and params.beginCheckTime != ''"><!-- 开始时间检索 -->
                and date_format(check_time,'%y%m%d') &gt;= date_format(#{params.beginCheckTime},'%y%m%d')
            </if>
            <if test="params.endCheckTime != null and params.endCheckTime != ''"><!-- 结束时间检索 -->
                and date_format(check_time,'%y%m%d') &lt;= date_format(#{params.endCheckTime},'%y%m%d')
            </if>
            
        </where>
        order by check_time desc
    </select>
    
    <select id="selectEyeCheckLogById" parameterType="Long" resultMap="EyeCheckLogResult">
        <include refid="selectEyeCheckLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertEyeCheckLog" parameterType="EyeCheckLog" useGeneratedKeys="true" keyProperty="id">
        insert into eye_check_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eyeOrderId != null">eye_order_id,</if>
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="policyNo != null and policyNo != ''">policy_no,</if>
            <if test="checkStatus != null">check_status,</if>
            <if test="checkMessage != null">check_message,</if>
            <if test="checkTime != null">check_time,</if>
            <if test="status != null">status,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sysCode != null">sys_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eyeOrderId != null">#{eyeOrderId},</if>
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="policyNo != null and policyNo != ''">#{policyNo},</if>
            <if test="checkStatus != null">#{checkStatus},</if>
            <if test="checkMessage != null">#{checkMessage},</if>
            <if test="checkTime != null">#{checkTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sysCode != null">#{sysCode},</if>
         </trim>
    </insert>

    <update id="updateEyeCheckLog" parameterType="EyeCheckLog">
        update eye_check_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="eyeOrderId != null">eye_order_id = #{eyeOrderId},</if>
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="policyNo != null and policyNo != ''">policy_no = #{policyNo},</if>
            <if test="checkStatus != null">check_status = #{checkStatus},</if>
            <if test="checkMessage != null">check_message = #{checkMessage},</if>
            <if test="checkTime != null">check_time = #{checkTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sysCode != null">sys_code = #{sysCode},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateEyeCheckLogByOrderId" parameterType="String">
        update eye_check_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId} and status='0'
    </update>

    <delete id="deleteEyeCheckLogById" parameterType="Long">
        delete from eye_check_log where id = #{id}
    </delete>

    <delete id="deleteEyeCheckLogByIds" parameterType="String">
        delete from eye_check_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>