<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.webeye.project.eye.nodeconfig.mapper.EyeNodeConfigMapper">
    
    <resultMap type="EyeNodeConfig" id="EyeNodeConfigResult">
        <result property="id"    column="id"    />
        <result property="nodeCode"    column="node_code"    />
        <result property="nodeName"    column="node_name"    />
        <result property="relationProductCode"    column="relation_product_code"    />
        <result property="nodeType"    column="node_type"    />
        <result property="operMinTime"    column="oper_min_time"    />
        <result property="status"    column="status"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flag"    column="flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEyeNodeConfigVo">
        select id, node_code, node_name, relation_product_code, node_type, oper_min_time, status, create_user, create_time, update_user, update_time, flag, remark from eye_node_config
    </sql>

    <select id="selectEyeNodeConfigList" parameterType="EyeNodeConfig" resultMap="EyeNodeConfigResult">
        <include refid="selectEyeNodeConfigVo"/>
        <where>  
            <if test="nodeCode != null  and nodeCode != ''"> and node_code = #{nodeCode}</if>
            <if test="nodeName != null  and nodeName != ''"> and node_name like concat('%', #{nodeName}, '%')</if>
            <if test="relationProductCode != null  and relationProductCode != ''"> and relation_product_code like concat('%', #{relationProductCode}, '%')</if>
            <if test="nodeType != null  and nodeType != ''"> and node_type = #{nodeType}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectEyeNodeConfigById" parameterType="Long" resultMap="EyeNodeConfigResult">
        <include refid="selectEyeNodeConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEyeNodeConfig" parameterType="EyeNodeConfig" useGeneratedKeys="true" keyProperty="id">
        insert into eye_node_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,</if>
            <if test="relationProductCode != null">relation_product_code,</if>
            <if test="nodeType != null and nodeType != ''">node_type,</if>
            <if test="operMinTime != null">oper_min_time,</if>
            <if test="status != null">status,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="flag != null">flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="relationProductCode != null">#{relationProductCode},</if>
            <if test="nodeType != null and nodeType != ''">#{nodeType},</if>
            <if test="operMinTime != null">#{operMinTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="flag != null">#{flag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEyeNodeConfig" parameterType="EyeNodeConfig">
        update eye_node_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="relationProductCode != null">relation_product_code = #{relationProductCode},</if>
            <if test="nodeType != null and nodeType != ''">node_type = #{nodeType},</if>
            <if test="operMinTime != null">oper_min_time = #{operMinTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEyeNodeConfigById" parameterType="Long">
        delete from eye_node_config where id = #{id}
    </delete>

    <delete id="deleteEyeNodeConfigByIds" parameterType="String">
        delete from eye_node_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


	<select id="selectEyeNodeConfigByProductCodeList" parameterType="EyeNodeConfig" resultMap="EyeNodeConfigResult">
        <include refid="selectEyeNodeConfigVo"/>
        <where>  
            <if test="nodeType != null  and nodeType != ''"> and node_type = #{nodeType}</if>
        </where>
        order by id asc
    </select>
    
</mapper>