<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.webeye.project.eye.recallmanage.mapper.EyeRecallmanageMapper">
    
    <resultMap type="EyeRecallmanage" id="RecallmanageResult">
        <result property="id"    column="id"    />
        <result property="recallnum"    column="recallNum"    />
        <result property="projectname"    column="projectName"    />
        <result property="ordernum"    column="orderNum"    />
        <result property="policynum"    column="policyNum"    />
        <result property="policyname"    column="policyName"    />
        <result property="policyidnum"    column="policyIdNum"    />
        <result property="address"    column="address"    />
        <result property="recordingtime"    column="recordingTime"    />
        <result property="videonum"    column="videoNum"    />
        <result property="filename"    column="fileName"    />
        <result property="filepath"    column="filePath"    />
        <result property="existplatform"    column="existPlatform"    />
        <result property="existtiem"    column="existTiem"    />
        <result property="existencestate"    column="existenceState"    />
        <result property="truthstate"    column="truthState"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectRecallmanageVo">
        select id, recallNum, projectName, orderNum, policyNum, policyName, policyIdNum, address, recordingTime, videoNum, fileName, filePath, existPlatform, existTiem, existenceState, truthState,type from eye_recallmanage
    </sql>

    <select id="selectRecallmanageList" parameterType="EyeRecallmanage" resultMap="RecallmanageResult">
        <include refid="selectRecallmanageVo"/>
        <where>  
            <if test="recallnum != null  and recallnum != ''"> and recallNum = #{recallnum}</if>
            <if test="projectname != null  and projectname != ''"> and projectName like concat('%', #{projectname}, '%')</if>
            <if test="ordernum != null  and ordernum != ''"> and orderNum = #{ordernum}</if>
            <if test="policynum != null  and policynum != ''"> and policyNum = #{policynum}</if>
            <if test="policyname != null  and policyname != ''"> and policyName like concat('%', #{policyname}, '%')</if>
            <if test="policyidnum != null  and policyidnum != ''"> and policyIdNum = #{policyidnum}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <!-- <if test="recordingtime != null "> and recordingTime = #{recordingtime}</if> -->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(recordingTime,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(recordingTime,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
            <if test="videonum != null  and videonum != ''"> and videoNum = #{videonum}</if>
            <if test="filename != null  and filename != ''"> and fileName like concat('%', #{filename}, '%')</if>
            <if test="filepath != null  and filepath != ''"> and filePath = #{filepath}</if>
            <if test="existplatform != null  and existplatform != ''"> and existPlatform = #{existplatform}</if>
            <if test="existtiem != null "> and existTiem = #{existtiem}</if>
            <if test="existencestate != null  and existencestate != ''"> and existenceState = #{existencestate}</if>
            <if test="truthstate != null  and truthstate != ''"> and truthState = #{truthstate}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectRecallmanageById" parameterType="Integer" resultMap="RecallmanageResult">
        <include refid="selectRecallmanageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRecallmanage" parameterType="EyeRecallmanage" useGeneratedKeys="true" keyProperty="id">
        insert into eye_recallmanage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recallnum != null">recallNum,</if>
            <if test="projectname != null">projectName,</if>
            <if test="ordernum != null">orderNum,</if>
            <if test="policynum != null">policyNum,</if>
            <if test="policyname != null">policyName,</if>
            <if test="policyidnum != null">policyIdNum,</if>
            <if test="address != null">address,</if>
            <if test="recordingtime != null">recordingTime,</if>
            <if test="videonum != null">videoNum,</if>
            <if test="filename != null">fileName,</if>
            <if test="filepath != null">filePath,</if>
            <if test="existplatform != null">existPlatform,</if>
            <if test="existtiem != null">existTiem,</if>
            <if test="existencestate != null and existencestate != ''">existenceState,</if>
            <if test="truthstate != null and truthstate != ''">truthState,</if>
            <if test="type != null and type != ''">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recallnum != null">#{recallnum},</if>
            <if test="projectname != null">#{projectname},</if>
            <if test="ordernum != null">#{ordernum},</if>
            <if test="policynum != null">#{policynum},</if>
            <if test="policyname != null">#{policyname},</if>
            <if test="policyidnum != null">#{policyidnum},</if>
            <if test="address != null">#{address},</if>
            <if test="recordingtime != null">#{recordingtime},</if>
            <if test="videonum != null">#{videonum},</if>
            <if test="filename != null">#{filename},</if>
            <if test="filepath != null">#{filepath},</if>
            <if test="existplatform != null">#{existplatform},</if>
            <if test="existtiem != null">#{existtiem},</if>
            <if test="existencestate != null and existencestate != ''">#{existencestate},</if>
            <if test="truthstate != null and truthstate != ''">#{truthstate},</if>
             <if test="type != null and type != ''">#{type},</if>
         </trim>
    </insert>

    <update id="updateRecallmanage" parameterType="EyeRecallmanage">
        update eye_recallmanage
        <trim prefix="SET" suffixOverrides=",">
            <if test="recallnum != null">recallNum = #{recallnum},</if>
            <if test="projectname != null">projectName = #{projectname},</if>
            <if test="ordernum != null">orderNum = #{ordernum},</if>
            <if test="policynum != null">policyNum = #{policynum},</if>
            <if test="policyname != null">policyName = #{policyname},</if>
            <if test="policyidnum != null">policyIdNum = #{policyidnum},</if>
            <if test="address != null">address = #{address},</if>
            <if test="recordingtime != null">recordingTime = #{recordingtime},</if>
            <if test="videonum != null">videoNum = #{videonum},</if>
            <if test="filename != null">fileName = #{filename},</if>
            <if test="filepath != null">filePath = #{filepath},</if>
            <if test="existplatform != null">existPlatform = #{existplatform},</if>
            <if test="existtiem != null">existTiem = #{existtiem},</if>
            <if test="existencestate != null and existencestate != ''">existenceState = #{existencestate},</if>
            <if test="truthstate != null and truthstate != ''">truthState = #{truthstate},</if>
             <if test="type != null and type != ''">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRecallmanageById" parameterType="Integer">
        delete from eye_recallmanage where id = #{id}
    </delete>

    <delete id="deleteRecallmanageByIds" parameterType="String">
        delete from eye_recallmanage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>