<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.webeye.project.eye.record.mapper.EyeRecordPageHisMapper">
    
    <resultMap type="EyeRecordPageHis" id="EyeRecordPageHisResult">
        <result property="id"    column="id"    />
        <result property="token"    column="token"    />
        <result property="sysCode"    column="sys_code"    />
        <result property="sdkType"    column="sdk_type"    />
        <result property="orderId"    column="order_id"    />
        <result property="pageId"    column="page_id"    />
        <result property="nodeCode"    column="node_code"    />
        <result property="userId"    column="user_id"    />
        <result property="productCode"    column="product_code"    />
        <result property="productName"    column="product_name"    />
        <result property="beginTime"    column="begin_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="recordTime"    column="record_time"    />
        <result property="playSetTime"    column="play_set_time"    />
        <result property="filePath"    column="file_path"    />
        <result property="clientType"    column="client_type"    />
        <result property="clientIp"    column="client_ip"    />
        <result property="clientCityCode"    column="client_city_code"    />
        <result property="clientCityName"    column="client_city_name"    />
        <result property="clientBrowser"    column="client_browser"    />
        <result property="status"    column="status"    />
        <result property="operType"    column="oper_type"    />
        <result property="nodeUrl"    column="node_url"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flag"    column="flag"    />
        <result property="remark"    column="remark"    />
        <result property="policyNo"    column="policy_no"    />
        <result property="policyName"    column="policy_name"    />
        <result property="policyIdcard"    column="policy_idcard"    />
        
        <result property="nodeName"    column="nodeName"    />
       
    
       
    </resultMap>

    <sql id="selectEyeRecordPageHisVo">
        select id, token, sys_code, sdk_type, order_id, page_id, node_code, user_id, product_code, product_name, begin_time, end_time, record_time, play_set_time,file_path, client_type,client_ip, client_city_code, client_city_name, client_browser, status, oper_type, create_user, create_time, update_user, update_time, flag, remark, policy_no, policy_name, policy_idcard, node_url from eye_record_page_his
    </sql>

    <select id="selectEyeRecordPageHisList" parameterType="EyeRecordPageHis" resultMap="EyeRecordPageHisResult">
        <include refid="selectEyeRecordPageHisVo"/>
        <where>  
            <if test="token != null  and token != ''"> and token = #{token}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="pageId != null  and pageId != ''"> and page_id = #{pageId}</if>
            <if test="nodeCode != null  and nodeCode != ''"> and node_code = #{nodeCode}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
           <!--  <if test="beginTime != null "> and begin_time = #{beginTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if> -->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(begin_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(begin_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
          
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="clientType != null  and clientType != ''"> and client_type = #{clientType}</if>
            <if test="clientIp != null  and clientIp != ''"> and client_ip = #{clientIp}</if>
            <if test="clientCityCode != null  and clientCityCode != ''"> and client_city_code = #{clientCityCode}</if>
            <if test="clientCityName != null  and clientCityName != ''"> and client_city_name like concat('%', #{clientCityName}, '%')</if>
            <if test="clientBrowser != null  and clientBrowser != ''"> and client_browser = #{clientBrowser}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="operType != null  and operType != ''"> and oper_type = #{operType}</if>
            <if test="policyNo != null  and policyNo != ''"> and policy_no = #{policyNo}</if>
            <if test="policyName != null  and policyName != ''"> and policy_name like concat('%', #{policyName}, '%')</if>
            <if test="policyIdcard != null  and policyIdcard != ''"> and policy_idcard = #{policyIdcard}</if>
            <if test="nodeUrl != null  and nodeUrl != ''"> and node_url = #{nodeUrl}</if>
            <if test="sysCode != null  and sysCode != ''"> and sys_code = #{sysCode}</if>
            <if test="sdkType != null  and sdkType != ''"> and sdk_type = #{sdkType}</if>
        </where>
            order by create_time desc
    </select>
    
    <select id="selectEyeRecordPageHisById" parameterType="Long" resultMap="EyeRecordPageHisResult">
        <include refid="selectEyeRecordPageHisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEyeRecordPageHis" parameterType="EyeRecordPageHis" useGeneratedKeys="true" keyProperty="id">
        insert into eye_record_page_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="token != null">token,</if>
            <if test="orderId != null">order_id,</if>
            <if test="pageId != null">page_id,</if>
            <if test="nodeCode != null">node_code,</if>
            <if test="userId != null">user_id,</if>
            <if test="productCode != null">product_code,</if>
            <if test="productName != null">product_name,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="playSetTime != null">play_set_time,</if>
            <if test="filePath != null">file_path,</if>
            <if test="clientType != null">client_type,</if>
            <if test="clientIp != null">client_ip,</if>
            <if test="clientCityCode != null">client_city_code,</if>
            <if test="clientCityName != null">client_city_name,</if>
            <if test="clientBrowser != null">client_browser,</if>
            <if test="status != null">status,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="flag != null">flag,</if>
            <if test="remark != null">remark,</if>
            <if test="operType != null and operType != ''">oper_type,</if>
            <if test="policyNo != null">policy_no,</if>
            <if test="policyName != null">policy_name,</if>
            <if test="policyIdcard != null">policy_idcard,</if>
            <if test="nodeUrl != null">node_url,</if>
            <if test="sysCode != null">sys_code,</if>
            <if test="sdkType != null">sdk_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="token != null">#{token},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="pageId != null">#{pageId},</if>
            <if test="nodeCode != null">#{nodeCode},</if>
            <if test="userId != null">#{userId},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="productName != null">#{productName},</if>
            <if test="beginTime != null">#{beginTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="playSetTime != null">#{playSetTime},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="clientType != null">#{clientType},</if>
            <if test="clientIp != null">#{clientIp},</if>
            <if test="clientCityCode != null">#{clientCityCode},</if>
            <if test="clientCityName != null">#{clientCityName},</if>
            <if test="clientBrowser != null">#{clientBrowser},</if>
            <if test="status != null">#{status},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="flag != null">#{flag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="operType != null and operType != ''">#{operType},</if>
            <if test="policyNo != null">#{policyNo},</if>
            <if test="policyName != null">#{policyName},</if>
            <if test="policyIdcard != null">#{policyIdcard},</if>
            <if test="nodeUrl != null">#{nodeUrl},</if>
            <if test="sysCode != null">#{sysCode},</if>
            <if test="sdkType != null">#{sdkType},</if>
         </trim>
    </insert>

    <update id="updateEyeRecordPageHis" parameterType="EyeRecordPageHis">
        update eye_record_page_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="token != null">token = #{token},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="pageId != null">page_id = #{pageId},</if>
            <if test="nodeCode != null">node_code = #{nodeCode},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="beginTime != null">begin_time = #{beginTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="playSetTime != null">play_set_time = #{playSetTime},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="clientType != null">client_type = #{clientType},</if>
            <if test="clientIp != null">client_ip = #{clientIp},</if>
            <if test="clientCityCode != null">client_city_code = #{clientCityCode},</if>
            <if test="clientCityName != null">client_city_name = #{clientCityName},</if>
            <if test="clientBrowser != null">client_browser = #{clientBrowser},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="operType != null and operType != ''">oper_type = #{operType},</if>
            <if test="policyNo != null">policy_no = #{policyNo},</if>
            <if test="policyName != null">policy_name = #{policyName},</if>
            <if test="policyIdcard != null">policy_idcard = #{policyIdcard},</if>
            <if test="nodeUrl != null">node_url = #{nodeUrl},</if>
            <if test="sysCode != null">sys_code = #{sysCode},</if>
            <if test="sdkType != null">sdk_type = #{sdkType},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateEyeRecordPageHisByOrderId" parameterType="EyeRecordPageHis" >
        update eye_record_page_his
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="policyNo != null">policy_no = #{policyNo},</if>
            <if test="policyName != null">policy_name = #{policyName},</if>
            <if test="policyIdcard != null">policy_idcard = #{policyIdcard},</if>
        </trim>
        where order_id = #{orderId}
    </update>
    
    <update id="updateEyeRecordPageHisByToken" parameterType="EyeRecordPageHis" >
        update eye_record_page_his
        <trim prefix="SET" suffixOverrides=",">
       	    <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="policyNo != null">policy_no = #{policyNo},</if>
            <if test="policyName != null">policy_name = #{policyName},</if>
            <if test="policyIdcard != null">policy_idcard = #{policyIdcard},</if>
        </trim>
        where product_code = #{productCode} AND token = #{token}
    </update>
    
    <delete id="deleteEyeRecordPageHisById" parameterType="Long">
        delete from eye_record_page_his where id = #{id}
    </delete>

    <delete id="deleteEyeRecordPageHisByIds" parameterType="String">
        delete from eye_record_page_his where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


	<select id="getOrderIdsByCreateTime" parameterType="java.util.HashMap" resultType="String">
         select 
         	DISTINCT order_id
         from 
         eye_record_page_his
        <where>  
        	 <if test="startTime != null"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			</if>
			<if test="endTime != null"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			</if>
				and  order_id is not null
        </where>
    </select>
    
   	<select id="getTokensByOrderIds" parameterType="String" resultType="String">
        select 
        	DISTINCT token
        from 
        eye_record_page_his where order_id in
       	 <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </select>
    
     <select id="getClearTokenList" parameterType="java.util.HashMap" resultType="String">
         select 
         	DISTINCT token
         from 
         eye_record_page_his
        <where> 
        	 <if test="startTime != null"><!-- 开始时间:此处定义为查询的起始时间 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
			</if> 
			<if test="endTime != null"><!-- 结束时间:此处定义为查询的起始时间 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			</if> 
            <if test="tokens != null  and tokens != ''">
             and token not in 
              <foreach item="token" collection="tokens" open="(" separator="," close=")">
          	  #{token}
        	  </foreach>
             </if>
        </where>
    </select>
    
    
    <select id="selectClearEyeRecordPageHisList" parameterType="EyeRecordPageHis" resultMap="EyeRecordPageHisResult">
         select 
         eye_record_page_his.id, 
         eye_record_page_his.order_id, 
         eye_record_page_his.token, 
         eye_record_page_his.order_id, 
         eye_record_page_his.node_code, 
         eye_record_page_his.user_id, 
         eye_record_page_his.product_code, 
         eye_record_page_his.product_name, 
         eye_record_page_his.begin_time, 
         eye_record_page_his.end_time, 
         eye_record_page_his.record_time, 
         eye_record_page_his.file_path, 
         eye_record_page_his.create_user, 
         eye_record_page_his.create_time, 
         sys_dict_data.dict_label as nodeName
         from 
         eye_record_page_his
         LEFT JOIN sys_dict_data ON sys_dict_data.dict_value = eye_record_page_his.node_code
        <where>  
            <if test="token != null  and token != ''"> and eye_record_page_his.token = #{token}</if>
        </where>
            order by eye_record_page_his.create_time asc
    </select>
    
</mapper>