<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ins.webeye.project.eye.record.mapper.EyeRecordClearReportMapper">
    
    <resultMap type="EyeRecordClearReport" id="EyeRecordClearReportResult">
        <result property="id"    column="id"    />
        <result property="token"    column="token"    />
        <result property="orderId"    column="order_id"    />
        <result property="productCode"    column="product_code"    />
        <result property="productName"    column="product_name"    />
        <result property="userId"    column="user_id"    />
        <result property="actionPath"    column="action_path"    />
        <result property="recordTime"    column="record_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="flag"    column="flag"    />
        <result property="remark"    column="remark"    />
        <result property="sysCode"    column="sys_code"    />
    </resultMap>

    <sql id="selectEyeRecordClearReportVo">
        select id, token, order_id, product_code, product_name, user_id, action_path, record_time, create_time, update_user, update_time, flag, remark ,sys_code from eye_record_clear_report
    </sql>

    <select id="selectEyeRecordClearReportList" parameterType="EyeRecordClearReport" resultMap="EyeRecordClearReportResult">
        <include refid="selectEyeRecordClearReportVo"/>
        <where>  
            <if test="token != null  and token != ''"> and token = #{token}</if>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="actionPath != null  and actionPath != ''"> and action_path = #{actionPath}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <!-- <if test="createTime != null "> and create_time = #{createTime}</if> -->
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="sysCode != null  and sysCode != ''"> and sys_code = #{sysCode}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectEyeRecordClearReportById" parameterType="Long" resultMap="EyeRecordClearReportResult">
        <include refid="selectEyeRecordClearReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEyeRecordClearReport" parameterType="EyeRecordClearReport" useGeneratedKeys="true" keyProperty="id">
        insert into eye_record_clear_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="token != null">token,</if>
            <if test="orderId != null">order_id,</if>
            <if test="productCode != null">product_code,</if>
            <if test="productName != null">product_name,</if>
            <if test="userId != null">user_id,</if>
            <if test="actionPath != null">action_path,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="flag != null">flag,</if>
            <if test="remark != null">remark,</if>
            <if test="sysCode != null">sys_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="token != null">#{token},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="productCode != null">#{productCode},</if>
            <if test="productName != null">#{productName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="actionPath != null">#{actionPath},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="flag != null">#{flag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="sysCode != null">#{sysCode},</if>
         </trim>
    </insert>

    <update id="updateEyeRecordClearReport" parameterType="EyeRecordClearReport">
        update eye_record_clear_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="token != null">token = #{token},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="productCode != null">product_code = #{productCode},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="actionPath != null">action_path = #{actionPath},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="flag != null">flag = #{flag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="sysCode != null">sys_code = #{sysCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEyeRecordClearReportById" parameterType="Long">
        delete from eye_record_clear_report where id = #{id}
    </delete>

    <delete id="deleteEyeRecordClearReportByIds" parameterType="String">
        delete from eye_record_clear_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>