<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                        	<input type="hidden" name="checkStatus" th:value="1"/>
                           <li>
                                <label>系统/渠道：</label>
                                <select name="sysCode" th:with="type=${@dict.getType('client_code')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>订单号：</label>
                                <input type="text" name="orderId"/>
                            </li>
                            <li>
                                <label>保单号：</label>
                                <input type="text" name="policyNo"/>
                            </li>
                            <li>
                                <label>产品代码：</label>
                                <input type="text" name="productCode"/>
                            </li>
                            <li>
                                <label>产品名称：</label>
                                <input type="text" name="productName"/>
                            </li>
                            
							  <li class="select-time">
								<label>录制时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]" lay-key="1">
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]" lay-key="2">
							</li>  
                            <li class="select-button">
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <!-- <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:order:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div> -->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:order:remove')}]];
        var listFlag = [[${@permission.hasPermi('system:order:list')}]];
        var checkStatusDatas = [[${@dict.getType('check_status')}]];
        var clientCodeDatas = [[${@dict.getType('client_code')}]];
        var prefix = ctx + "eye/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单记录",
                columns: [
                /* {
                    checkbox: true
                }, */
                {
                    field: 'sysCode',
                    title: '系统/渠道',
                    width:100,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(clientCodeDatas, value);
                    }
                },
	            {
	                field: 'productCode',
	                title: '产品代码/名称',
	                width:240,
	                formatter: function(value, row, index) {
	                    return row.productCode+"</br>"+row.productName 
	                 }
	            },
	            {
	                field: 'orderId',
	                title: '订单号/保单号',
	                width:180,
	                formatter: function(value, row, index) {
	                    return row.orderId+"</br>"+row.policyNo 
	                 }
	            },
	            {
	                field: 'policyName',
	                title: '投保人姓名/证件',
	                width:180,
	                formatter: function(value, row, index) {
	                    return row.policyName+"</br>"+row.policyIdcard;
	                 }
	            },
                {
                    field: 'checkStatus',
                    title: '质检结果',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(checkStatusDatas, value);
                    }
                },
                {
                    field: 'checkMessage',
                    width:240,
                    title: '质检结果描述',
                    formatter: function(value, row, index) {
                        value=value.replace(new RegExp("\n", 'g') ,"<br>");
                        return value;
                     }
                },
                {
                    field: 'checkTime',
                    width:100,
                    title: '检查时间'
                },
                /* {
                    field: 'createUser',
                    title: '创建者'
                }, */
                /* {
                    field: 'updateUser',
                    title: '更新者'
                }, */
                /* {
                    field: 'flag',
                    title: '标记'
                }, */
                /* {
                    field: 'remark',
                    title: '备注'
                }, */
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" target="_blank"  href="'+ctx+'eye/recordPlay/toPlayPage?token='+row.token+'&type=orderPage&productCode='+row.productCode+'" ><i class="fa fa-play"></i>回放</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="javascript:void(0)" onclick="toOrderPage(\'' + row.token + '\',\''+row.productCode+'\')"><i class="fa fa-list-ul"></i>列表</a> ');
                        /* actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>'); */
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
        /*订单列表-详细*/
		function toOrderPage(token,productCode) {
			var url = prefix + '/toOrderPage?token=' + token+"&productCode="+productCode;
		    $.modal.openTab("订单明细", url);parentTab
		   //$.modal.openFull("订单明细", url);parentTab
		   // $.modal.open("订单明细", url);
		}
    </script>
</body>
</html>