<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/js/EyePlayer/webEye.min.css}" >    
</head>
<body class="gray-bg" >
<input type="hidden" id="playerFilePath"  th:value="${playerFilePath }">
  
 <th:block th:include="include :: footer" />
   <script th:src="@{/js/EyePlayer/webEye-replay.js}"></script>
   <script>
    window.timeIntervar = 0;
    window.flag = false;
    window.gapTime = 50;
    
    $(document).ready(function () {
        
          var type = "";
          var events = [];
          var playerFilePath = $("#playerFilePath").val();
     
          $.ajax({
              url: ctx + "eye/recordPlay/getFile?path=" + playerFilePath, type: "get", 
              success: function (res) {
            	  /*console.log(res)
                  events= JSON.parse(res); */
                  var data = res.substr(0, res.length - 1)
                  events = '[' + data + ']';
                   events = JSON.parse(events); 
                  console.log(events);
                  if(events.length<=1) {
                     console.log("没有相关数据，请重试！");
                     return;
                  }
                  playOneByOne(events);
                  
              }
          });
        
          
          function playOneByOne(events){
        
        	  
              
              var len = events.length;
              window.timeCount =  events[len-1].timestamp-events[0].timestamp;
              
              console.log(window.timeCount);
              if(timeIntervar >= window.timeCount ) {
                  console.log("finished");
                  window.flag = true;
                  return;
              } 
              if(!window.replayer) {
                  window.replayer = new webEyeReplay.Replayer(events);     
             }
              
              
              setTimeout(function(){
            	  stopLoading();
              },3000)
             
             
          }
    });
    function stopLoading(){
    	
        if (!!(window.attachEvent && !window.opera))
        { document.execCommand("stop"); }
        else
        { window.stop(); }
    }
 
    function playNext(){
    	  if(timeIntervar >= window.timeCount ) {
              console.log("finished");
              window.flag = true;
              return;
          } 
    	
    	  if (timeIntervar > 0) {
    		  window.replayer.resume(timeIntervar);
    		  
            } else {
              window.replayer.play(timeIntervar);             
            }
    	     
            timeIntervar = timeIntervar + gapTime; //截屏间隔时间，单位为毫秒
            console.log(timeIntervar); 
            window.replayer.pause();
          
    }
    
    </script>
</body>
</html>