<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('查看对接密钥')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-clientconfig-edit" th:object="${eyeClientConfig}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label ">系统/渠道代码：</label>
                <div class="col-sm-4">
                    <input name="clientCode" th:field="*{clientCode}" class="form-control" type="text" disabled >
                </div>
                <div class="col-sm-5">
                      <i class="fa fa-info-circle"></i> 即接口的systemCode(或sysCode)参数  
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label  ">系统/渠道名称：</label>
                <div class="col-sm-4">
                    <input name="clientName" th:field="*{clientName}" class="form-control" type="text" disabled>
                </div>
            </div>
            
            <div class="form-group">    
                <label class="col-sm-3 control-label">接口授权ID：</label>
                <div class="col-sm-4">
                    <input name="authorizeId" th:field="*{authorizeId}" class="form-control" type="text" readonly>
                </div>
                <div class="col-sm-5">
                      <i class="fa fa-info-circle"></i>即接口中的consumerID参数
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">接口授权密钥：</label>
                <div class="col-sm-4">
                    <input name="authorizeKey" th:field="*{authorizeKey}" class="form-control" type="text" readonly>
                </div>
                <div class="col-sm-5">
                      <i class="fa fa-info-circle"></i> 即接口中的consumerPWD参数
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "eye/clientconfig";
        $("#form-clientconfig-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            
        }
    </script>
</body>
</html>