<!DOCTYPE html>
<html  lang="zh" >
<head>
    <meta charset="utf-8">
 	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>人脸核身</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewer.css}"   />
    <link rel="stylesheet" type="text/css" th:href="@{/js/faceId/faceId.css}">
    <script th:src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="resultBox">
            <div class="icon">
                <img id="icon" src="" alt="">
            </div>
            <div class="resultMsg"></div>
            <div class="resultDesc">请点击下一步继续您的操作</div>
            <button class="nextBut">下一步</button>
        </div>
    </div>
</body>
<script>

result();

// 检测结果
function result() {
	if(window.location.search.includes('BizToken')){
		var BizToken = window.location.search.split('BizToken=')[1].split('&')[0];
		var trans = {
			    'BizToken': BizToken
		}
		var jsonData = JSON.stringify(trans);
		
		var data = {
			consumerID: 'admin',
		    consumerPWD: 'admin123',
		    jsonData: jsonData,
		}
		
	    $.ajax({
	        url: '/webeye/auth/api/getDetectInfo',
	        type: 'post',
	        data:  JSON.stringify(data),
	        contentType: "application/json",
	        dataType: 'json',
	        success: function (result) {
	        	var DetectInfo = JSON.parse(result.data.DetectInfo)
	        		var BestFrame = DetectInfo.BestFrame.BestFrame;
	        		$('.resultMsg').html(DetectInfo.Text.ErrMsg)
		        	if(DetectInfo.Text.ErrCode==0){
		        		$('#icon').attr('src', '/img/success.png')
	        		} else {
	        			$('#icon').attr('src', '/img/error.png')
	        		}
	        }
	    })
	}
	
}

</script>

</html>