<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改密码')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-user-resetPwd">
			<input name="userId"  type="hidden"  th:value="${user.userId}" />
			<div class="form-group">
				<label class="col-sm-3 control-label">登录名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" readonly="true" name="loginName" th:value="${user.loginName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">输入密码：</label>
				<div class="col-sm-8">
					<input class="form-control" type="password" name="password" id="password" th:value="${@config.getKey('sys.user.initPassword')}">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		$("#form-user-resetPwd").validate({
			rules:{
				password:{
					required:true,
					minlength: 8,
					maxlength: 20,
					checkLx: true,
	    			checkCode: true
				},
			},
			focusCleanup: true
		});
		
		$.validator.addMethod("checkLx",function(value,element,params){
			var arr = value.split('');
			var flag = true;	
			for (var i = 1; i < arr.length-1; i++) {
				var firstIndex = arr[i-1].charCodeAt();
				var secondIndex = arr[i].charCodeAt();
				var thirdIndex = arr[i+1].charCodeAt();
				if(arr[i+2]){
					var fourthIndex = arr[i+2].charCodeAt();
					if((fourthIndex - thirdIndex == 1)&&(thirdIndex - secondIndex == 1)&&(secondIndex - firstIndex==1)){
						flag = false;
					}
				} else {
					if((thirdIndex - secondIndex == 1)&&(secondIndex - firstIndex==1)){
						flag = false;
					}
				}
			}
			return this.optional(element)||flag;
		},"密码不得包含连续递增或递减的字符");
	
		$.validator.addMethod("checkCode",function(value,element,params){
			var checkCode = /^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])/;
			return this.optional(element)||checkCode.test(value);
		},"密码必须包含大小写字母和数字");
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(ctx + "system/user/resetPwd", $('#form-user-resetPwd').serialize());
	        }
	    }
	</script>
</body>

</html>
